*{
    margin:0px;
    padding:0px;
    font-family: "Circular Spotify Tx T Black", Helvetica, Arial, sans-serif;
}

ul{
    list-style: none;
}

.headermenu{
    background-color:black;
    box-sizing: border-box;
    max-width:2000px;
    padding: 0 380px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img1{
    margin: 20px;
}

.nav-bar ul, .log-bar ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    font-family: "Circular Spotify Tx T Black", Helvetica, Arial, sans-serif;
}

.nav-bar li, .log-bar li{
    padding: 28px 17px;
    cursor: pointer;
}


.nav-bar li:hover{
    color: #1ed760;
}

#break:hover{
    color: #fff
}

article{
    margin: 0 380px;
    padding: 0 15px;
    font-family: "Circular Spotify Tx T Black", Helvetica, Arial, sans-serif;
}

.firstsection{
    background-color: rgb(29, 117, 222);
 }

.titlefirstsection{
    padding: 72px 0px 40px;
}

.h1title{
    line-height: 48px;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    display: inline-block;
    font-size: 40px;
}

.h2title{
    margin: 30px 0px 0px;
    margin-bottom: 40px;
    color: #ffffff;
    max-width: 100%;
    display: inline-block;
    font-weight: 200;
    font-size: 24px;
    line-height: 36px;
}

.buttons span{
    margin: 35px 0px 0px;
}

.buttonstart{
    background: #191414;
    padding: 17px 48px;
    margin: 5px;
    color: #ffffff;
    font-size: 14px;
    border: 2px solid #191414;
    border-radius: 500px;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
}

.buttonstart:hover{
    background: #191414;
    transform: scale(1.05)
}


.buttonplans{
    background: rgb(29, 117, 222);
    padding: 17px 48px;
    margin: 5px;
    color: #ffffff;
    font-size: 14px;
    border: 2px solid;
    border-radius: 500px;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
}

.buttonplans:hover{
    background: rgb(29, 117, 222);
    transform: scale(1.05)
}

.footerp{
    margin: 40px 0px 0px;
}

.pfooter{
    padding: 0px 0px 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #ffffff;
}

.pfooter a{
    cursor: pointer;
    text-decoration: underline;
}


.secondarticle{
    margin: 0px 366px;
    padding: 75px 15px;
    width: 1170px;
}

.premium-title{
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-weight: 900;
    line-height: 46px;
    letter-spacing: -0.015em;
    padding: 0px;
    font-family: "Circular Spotify Tx T Black", Helvetica, Arial, sans-serif;
    margin-bottom: 72px;
}

.premium-tipes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.premium-tipes li{
    margin: 0px 0px 20px;
}

.premium-tipes li div img{
    display: block;
    margin: 0px auto 40px;
    width:141px;
    height:141px;
    background-position: center top;
}


.text1 , .text2 , .text3 , .text4 {
    margin: 16px 0px;
    display: block;
    text-align: center;
}

.p1-1 , .p2-1 , .p3-1 , .p4-1{
    margin: 0px 0px 10px;
    font-size: 21px;
    font-weight:bold;
    font-family: "Circular Spotify Tx T Black", Helvetica, Arial, sans-serif;
    line-height: 27px;
    display: block;
    text-align: center;
}

.p1-2 , .p2-2 , .p3-2, .p4-2{
    margin: 0px 22px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0px auto;
    display: block;
    text-align: center;
}

.thirdsection{
    background-color: #EFEFEF;
}

.thirdarticle{
    margin: 0px 366px;
    padding: 75px 15px;
}

.secondh2{
    font-family: "Circular Spotify Tx T Black", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1.28px;
    line-height: 40px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.h3first{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: block;
    padding: 0px 0px 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: inherit;
}

.generalcards{
    margin: 16px;
    display: flex;
    justify-content: center;
    margin-right: 15px;
}

.cards{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.cards li img{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;    
    width: 29px;
    height: 20px;
    vertical-align: middle;
    padding: 1px;
    margin: 0px;
}

.cardtest{
    display:block;
    position: relative;
    text-decoration: underline;
    margin-left: 4px;
}

.othercards{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.othercards li img{
    display: none;
    position: relative;
    background-position: center center;  
    top: -50px;
    left: 50%;
    margin: 0px;
    padding: 8px 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 6px 18px;
    border-radius: 8px;
    transform: translateX(-50%);
    width: 29px;
    height: 20px;
    cursor: pointer;
}

.othercards:hover{
    display: flex;
}


.container{
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: 50px 0px 26px;
}

.block1{
    grid-row: 1 / auto;
    padding-top: 16px;
    position: relative;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 0px 0px;
    padding-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 0px 16px 0px 0px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow:         
        rgb(255 255 255) 0px 8px 0px 0px, 
        rgb(0 0 0 / 30%) 0px 0px 8px;
}

.line{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.block2{
    grid-row: 2 / auto;
    padding-bottom: 16px;
    padding-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 0px 16px 0px 0px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow:         
        rgb(0 0 0 / 30%) 0px 0px 8px;
}

.block2 li{
    display:flex;
    margin: bottom 10px;
}

.block2 li p{
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px 0px 2px;
}

.block3{
    grid-row: 3 / auto;
    margin: 0px 16px 0px 0px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow:  rgb(255 255 255) 0px -9px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    text-align: center;
    padding-bottom: 5px;
}

.block4{
    grid-row: 4 / auto;
    margin: 0px 16px 16px 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 36px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
    box-shadow:  rgb(255 255 255) 0px -9px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    text-align: left;
}

.block4 p{
    font-family: Arial, sans-serif;
    margin-top: 12px;
    color: rgb(83, 83, 83);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
}

.block4 p a{
    text-decoration: underline;
}

.title1{
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
    display: inline-block;
    font-weight: 700;
    margin: 0px 4px 10px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 119, 208);
}

.title2{
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
    display: inline-block;
    font-weight: 900;
    margin: 0px 4px 10px 0px;
    color: rgb(46, 119, 208);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(46, 119, 208);
}

.secondh3{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    margin: 0px 0px 5px;
    padding: 0px;
}

.ptitle1{
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px 0px 2px;
}

.ptitle2{
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px 0px 2px;
    margin-bottom: 20px;
}

svg{
    padding: 0px 10px 0px 0px;
}



.finalfooter{
    padding: 80px 0 50px;
    background: #000;
}

.navfooter{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
}

.firsttopic{
    padding: 0 15px;
    margin: 0;
    display: flex;
    font-size:16px;
    color: #fff;
}

.titlefooter{
    margin: 20px 0;
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.firsttopic ul li{
    padding: 3px 0 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}

.ul1{
    padding: 0 70px;
}

.ul2, .ul3{
    padding: 0 50px;
}

.socialimgs{
    margin: 0 15px 0 auto;
}

.footerimgs{
    display:flex;
    margin: 20px 0 0;
    padding: 0;
}

.footerimgs a{
    margin: 0 15px 0 0;
    border: 5px solid #222326;
    border-radius: 50%;
    background-color: #222326;
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.instagram{
    background: no-repeat url(./Assets/insta.svg);
}

.twitter{
    background: no-repeat url(./Assets/twitter.svg);
}

.facebook{
    background: no-repeat url(./Assets/face.svg);
}

.country div{
    display: flex;
    flex-direction: column;
    color: #919496;
}

.country{
    padding: 0px; 
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    align-items: flex-end;
    white-space: nowrap;
    font-size: 10px;
    text-decoration: none;
}

.country svg{
    padding: 3px
}

.footerend{
    display: flex;
    padding-top: 100px;
    width: 100%;
}

.footerabout{
    color:#fff;
    margin: 0 45px 0 0;
    padding: 0 0 0 15px;
}

.footerabout li{
    display: inline-block;
    margin-right: 24px;;
    padding: 1em 0;
    font-size: 12px;
    color:#919496;
}

.copyright{
    color:#fff;
    margin: 0 15px 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    font-size: 12px;
    color:#919496;
}